[data-ds="post-actions"] {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-top: 16px;
  color: #aaa69d;
}

[data-ds="post-actions"] button {
  display: flex;
  min-height: 25px;
  align-items: center;
  gap: 6px;
  font-size: 12px;
}

[data-ds="post-actions"] button:hover {
  color: #686157;
}

[data-ds="post-actions"] .liked {
  color: #db6974;
}

[data-ds="post-actions"] .more {
  margin-left: auto;
}
[data-ds="post-actions"] {
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  [data-ds="post-actions"] {
    gap: 12px 18px;
  }
}

@media (max-width: 640px) {
  [data-ds="post-actions"] {
    margin-top: 13px;
    gap: 26px;
  }
  [data-ds="post-actions"] button {
    min-height: 32px;
  }
}
