[Unit]
Description=Periodically connect eligible kamelog tweets

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=kamelog-auto-thread.service

[Install]
WantedBy=timers.target
