[Unit]
Description=Periodically classify new kamelog posts

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
RandomizedDelaySec=5min
Persistent=true
Unit=kamelog-auto-tag.service

[Install]
WantedBy=timers.target
